-# .media-card{ data: instagram_media.to_data }
.media-card
  .media-card-container
    .media-card-tile.media-card-tile-visible{ style: "background-image: url(#{instagram_media.thumbnail_image_url});"}
    .media-card-tile.media-card-tile-hidden
      .media-card-tile-overlay
        %h5
          = t('hover_state.view_this')
          %br
          = t('hover_state.story')   

    .media-card-tile.media-card-tile-expanded
      .media-card-tile-container
        .media-card-tile-image
          = image_tag 'loader.gif', data: {uri: instagram_media.standard_resolution_image_url}
        .media-card-tile-info
          .media-card-author
            = link_to instagram_media.instagram_user.uri do
              = image_tag instagram_media.instagram_user.profile_picture
              %p= instagram_media.instagram_user.username_tag
          .media-card-caption
            = instagram_media.caption_text

          .media-card-social
            -# = button_to 'F Like', '#'
            -# = button_to 'Share', '#'