.media-card{id: "media-card-#{instagram_media.id}"}
  .media-card-container
    .morph-button.morph-button-fixed.morph-button-modal.morph-button-modal-3
      -# .media-card-tile.media-card-tile-visible{ data: {uri: instagram_media.thumbnail_image_url }}
      .media-card-tile.media-card-tile-visible{ class: "media-card-loaded-#{rand(1..17)}" }
        = image_tag instagram_media.thumbnail_image_url
      
      - if instagram_media.is_video?
        .media-card-tile.media-card-tile-video
          = image_tag 'play_128x128.png'

      .media-card-tile.media-card-tile-hidden
        .media-card-tile-overlay
          %h5
            = t('hover_state.view_this')
            %br
            = t('hover_state.story')     
      
      .morph-content
        .media-card-tile.media-card-tile-expanded
          .media-card-tile-container
            %span.icon.icon-close X

            .media-card-tile-image
              - if instagram_media.is_video?
                = video_tag 'loader.gif', controls: false, autobuffer: false, autoplay: true, data: {uri: instagram_media.standard_resolution_video_url}
                -# = video_tag instagram_media.standard_resolution_video_url, controls: true
              - else
                = image_tag 'loader.gif', data: {uri: instagram_media.standard_resolution_image_url}
            .media-card-tile-info
              .media-card-author
                = link_to instagram_media.instagram_user.uri do
                  = image_tag 'loader.gif', data: {uri: instagram_media.instagram_user.profile_picture}
                  %p= instagram_media.instagram_user.username_tag
              .media-card-caption
                = instagram_media.caption_text

              .media-card-social
                -# = button_to 'F Like', '#'
                -# = button_to 'Share', '#'