%header.navigation
  .menu-wrapper
    = link_to '#', class: 'logo' do
      = image_tag 'large_logo.png'
    
    .nav
      #navigation-caption
        = image_tag '400comma.png'
        %p.subtitle Birthright Stories
        = link_to '#', "What's Yours?"

    -# %p#js-mobile-menu.navigation-menu-button MENU
    -# .nav
    -#   %ul#navigation-menu
    -#     %li.nav-link
    -#       %a{:href => "javascript:void(0)"} Products
    -#     %li.nav-link
    -#       %a{:href => "javascript:void(0)"} About Us
    -#     %li.nav-link
    -#       %a{:href => "javascript:void(0)"} Contact
    -#     %li.nav-link.more
    -#       %a{:href => "javascript:void(0)"} More
    -#       %ul.submenu
    -#         %li
    -#           %a{:href => "javascript:void(0)"} Submenu Item
    -#         %li
    -#           %a{:href => "javascript:void(0)"} Another Item
    .navigation-tools
      -# .search-bar
      -#   .search-and-submit
      -#     %input{:placeholder => "Enter Search", :type => "search"}/
      -#     %button{:type => "submit"}
      -#       %img{:alt => "", :src => "https://raw.githubusercontent.com/Magnus-G/Random/master/search-icon.png"}/
      = link_to '#', class: 'taglit' do 
        = '#Taglit'

      .locale-menu
        = image_tag t('flag_icon')
