
%header.centered-navigation
  .centered-navigation-wrapper

    -# -# Mobile Logo
    -# = link_to '#', class: 'mobile-logo' do
    -#   = image_tag t('images.logo_small')

    .centered-navigation-logo
      = link_to '#' do
        = image_tag t('images.logo_large')
        -# = image_tag t('images.logo_small')

    %ul.centered-navigation-panel
      %li.nav-story-count
        %span= current_story_count 
        -# = image_tag  t('images.stories_count')
      %li.nav-headline
        %span= t('header.headline')
      %li.nav-follow-up
        = link_to t('header.follow_up'), '#', onclick: "$('#header-form').toggleClass('opened'); return false;"
      %li.nav-learn-more
        = link_to t('header.learn_more'), '#', onclick: "$('#header-learn').toggleClass('opened'); return false;"

    -# Mobile Menu
    .centered-navigation-menu
      = link_to '#' do
        %span.taglit= t('header.taglit_hash')
        = image_tag t('images.flag', height: 60)     

        %ul.centered-navigation-submenu
          - other_available_locales.each do |locale|
            %li
              = link_to url_for(locale: locale) do
                .locale
                  %span.locale-name= t('locale_name', locale: locale)
                  %span.locale-flag= image_tag t('images.flag', locale: locale), height: 20

  #header-form.centered-navigation-drawer
    .centered-navigation-drawer-wrapper

      = form_tag '' do |f|
        = label_tag :first_name, t('form.first_name')
        = text_field_tag :first_name
        
        = label_tag :last_name, t('form.last_name')
        = text_field_tag :last_name
        
        = label_tag :photo, t('form.photo')
        = text_field_tag :photo
        
        = label_tag :choose_file, t('form.choose_file')
        = text_field_tag :choose_file
        
        = label_tag :story, t('form.story')
        = text_field_tag :story
        
        = label_tag :terms, t('form.terms')
        = text_field_tag :terms
        
        %button 'submit'

  #header-learn.centered-navigation-drawer
    .centered-navigation-drawer-wrapper

      %h1= t('learn_more_dropdown.remember_from_today')
      %h2= t('learn_more_dropdown.remember_from_yesterday')
      %p= t('learn_more_dropdown.summary_one')
      %p= t('learn_more_dropdown.summary_two')

      = link_to '#', onclick: "$('#header-learn').removeClass('opened'); return false;" do
        = t('learn_more_dropdown.close')

.centered-navigation-buffer