!!! html5
%html
  %head
    %title
      Birthright Stories

    = stylesheet_link_tag    'application', 'data-turbolinks-track' => true, media: 'all'
    -# = favicon_link_tag 'favicon.png'

  %body{class: "locale-#{locale}"}

    = cache ['header', locale ] do
      = render 'layouts/header'

    = yield

    = cache 'card-illusion-michael' do
      .media-cards
        - 96.times do
          .media-card-illusion
            .media-card-container

    = cache 'js' do
      = javascript_include_tag 'application', 'data-turbolinks-track' => true

          