!!! html5
%html
  %head
    %title= content_for?(:title) ? content_for(:title) : 'Birthright Stories'
    = stylesheet_link_tag    '//fonts.googleapis.com/css?family=Lato:300,400,700,900', 'data-turbolinks-track' => true, media: 'all'
    = stylesheet_link_tag    'application', 'data-turbolinks-track' => true, media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    -# = favicon_link_tag 'favicon.png'
    -# = csrf_meta_tags

  %body

    / Container
    .app-container
      / Header
      =render 'layouts/header'

      / Alerts
      .app-alerts= render 'layouts/alerts'

      / Main Application
      .app-main

        / Sidebar
        - if content_for? :sidebar
          = yield :sidebar

        / Content
        .app-content
          = yield

    / Deferred Javascript for improved load performance    
    - if content_for? :deferred_js
      = yield :deferred_js
